@import '@fontsource-variable/jura';

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

*{
    @apply text-base;
}

h2{
    @apply text-2xl font-light text-center
}

.small-wrap {
	@apply w-full max-w-[400px] mx-auto px-4;
}
